@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Google Sans"),
    url("../fonts/GoogleSansTTF/GoogleSans-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: bold;
  font-weight: bold;
  src: local("Google Sans Medium"),
    url("../fonts/GoogleSansTTF/GoogleSans-Medium.ttf") format("woff");
}

html,
body {
  font-family: "Google Sans", monospace, sans-serif;
  letter-spacing: 1px;
  font-weight: 600 !important;
  background-color: #fcfcfc;
}

button {
  letter-spacing: 1px !important;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.text-center {
  text-align: center;
}

.cap {
  text-transform: capitalize;
}
